* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
  }
  
  #inicio { 
    
    background-repeat: no-repeat;
    background-size: auto;
    padding: 25px;
    color:  #5E5A5B ;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
  }
  h1 {
    text-align: right;
    background-position: top;
     
     
  }
  
#principal {
  list-style-type: none;
  overflow: hidden;
  background-color: black;
  text-align: right;
  font-family: 'Bebas Neue', cursive;
  }
  #principal li {
    float: left;
    }
    
  #principal li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
   #principal li a:hover:not(.active) {
    background-color: #111;
    }
    
  .active {
    background-color: #a77a27;
    }

    .texto {
      text-align: justify;
      font-family: 'Bebas Neue', cursive;
      margin-top: 25px;
      }

  
h2 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  margin-top: 25px;
  }

  